* {
    padding: 0;
    margin: 0;
}
.postItem {
    position: relative;
    grid-row: span 4;
    overflow: hidden;
    &:nth-child(3n){
        grid-row: span 3;
        object-fit: cover;
        height: 170px;
    }
    &:nth-child(4n) {
        grid-row: span 7;
    }
    // &:hover {
    //     .postArticle {
    //         transform: translateX(-50%);
            
    //     }
    // }
    .postArticle {
        position: absolute;
        transform: translateX(0);
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        width: 200%;
        transition: transform 1s ease-in;
        div {
            width: 50%;
        }
        
    }
}

.postImage {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.postHead {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(245, 238, 234);
    border-radius: 5px;
}

.postTitle {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.63);
    color: rgb(245, 238, 234);
    height: 30px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    h3 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
    }
}